.Window {
  background-color: #eee;
  position: absolute;
  box-shadow: 0px 0px 3px grey;
}

.WindowHeader {
  cursor: move;
  height: 1em;
  padding: 0.1em;
  background: #3e3e3e;
  display: flex;
  justify-content: space-between;
}

.Window .window-title {
  color: #eee;
  font-size: 12px;
}

.Window .op-icons {
  display: flex;
}

.Window .close-icon, .Window .minimize-icon {
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.Window .window-body {
  overflow: hidden;
}